<div class="form-group form-check">
  <input
    type="checkbox"
    class="form-check-input"
    [(ngModel)]="task.completed"
    (change)="onCompletedCheckChange(task)"
  />
</div>

<!-- [innerHTML] é equivalente ao {{task.description}} dentro da tag div, a diferença é que o [innerHTML] é usado quando o texto a ser exibido tem quebra de linha -->
<div
  [innerHTML]="task.description"
  class="task-item-description"
  [ngClass]="task.completed ? 'task-completed' : ''"
></div>

<!--routerLink está passando um parâmetro para a rota e vai redirecionar para a rota 'edit/:id'-->
<div>
  <button
    type="button"
    class="btn btn-primary mr-1"
    [routerLink]="['/edit', task.id]"
  >
    Alterar
  </button>
</div>

<div>
  <button type="button" class="btn btn-danger" (click)="remove(task)">
    Excluir
  </button>
</div>
